# list of ignore patterns for SRRIP-SImpleScalar
*.o
*~
*swp
tags
ANNOUNCE-3.0
CONTRIBUTORS
FAQ
LICENSE
Makefile
PROJECTS
README
README.eio
README.retarget
README.sim-inorder
README.windows
WARRANTY
bitmap.h
bpred.c
bpred.h
config.h
config/
dlite.c
dlite.h
eio.c
eio.h
endian.c
endian.h
eval.c
eval.h
eventq.c
eventq.h
hack_guide.pdf
hack_guide.ps
host.h
libexo/
loader.c
loader.h
machine.c
machine.def
machine.h
main.c
memory.c
memory.h
misc.c
misc.h
options.c
options.h
pipeview.pl
ptrace.c
ptrace.h
range.c
range.h
redir.bash
redir.sh
regress.sh
regs.c
regs.h
resource.c
resource.h
sim-bpred
sim-bpred.c
sim-cache
sim-cache.c
sim-eio
sim-eio.c
sim-fast
sim-fast.c
sim-outorder
sim-outorder.c
sim-profile
sim-profile.c
sim-safe
sim-safe.c
sim.h
stats.c
stats.h
symbol.c
symbol.h
syscall.c
syscall.h
sysprobe
sysprobe.c
target-alpha/
target-pisa/
tests
tests-alpha/
textprof.pl
version.h
